@import "tailwindcss";
@config "../tailwind.config.js";

:root {
  color-scheme: light;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

button,
input,
textarea {
  font: inherit;
}

.displayBox{
  display: flex;
}

.pdl{
  padding-left: 8px;
}

.pdr{
  padding-right: 8px;
}

.pdt{
  padding-top: 5px;
}

.pdtL{
  padding-top: 16px;
}